.footerContainer {

    background-color: #F5F5F5;

    height: 150px;
    display: flex;
    align-items: end;

}


.lineFooter {

    height: 40px;
    width: 100vw;
    background-color: #001B56;


}