
.rhap_container {
    border-radius: 10px;
    padding: 10px;
 box-shadow: none;
  }
  
  .rhap_main-controls-button {
    color: #eb2550; 
  }
  

 
  .rhap_progress-filled {
    display: none;
  }

  .rhap_volume-bar {
    
width: 100%;
}

  .rhap_volume-indicator {
    background-color: #ff0000;


  }

.rhap_time {
   
    font-size: 0.85rem;

  } 
  .rhap_download-progress-bar {
   display: none;
  
  }


  .rhap_progress-section {

    background-color: #ea000000;
width: 105%;
  }
  .rhap_volume-controls {


}





    
    .rhap_progress-indicator {
        display: none;
          }






        .rhap_progress-bar-show-download {            
            background: linear-gradient(
              270deg,
              #e91e63,
              #ff8a65,
              #ffd54f,
              #e91e63
            );
            background-size: 600% 100%;
            animation: backgroundMove 2s linear infinite; /* Animación rápida */
            border-radius: 20px;
            width: 100%;
            height: 10px;
            overflow: hidden;
          }
          
          @keyframes backgroundMove {
            0% {
              background-position: 0% 0;
            }
            100% {
              background-position: 100% 0;
            }
          }
          
          

          .rhap_total-time{

display: none;

          }

          .rhap_time{
           
          }
          .rhap_play-pause-button{

          }
          .rhap_additional-controls{


display: none;

          }